.elementor-38 .elementor-element.elementor-element-b697da3 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  border-style: none;
  --border-style: none;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-38 .elementor-element.elementor-element-b697da3,
.elementor-38 .elementor-element.elementor-element-b697da3::before {
  --border-transition: 0.3s;
}
.elementor-38 .elementor-element.elementor-element-ca4728b {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #c9a58170;
  --border-color: #c9a58170;
  --padding-top: 15px;
  --padding-bottom: 15px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-38 .elementor-element.elementor-element-ca4728b,
.elementor-38 .elementor-element.elementor-element-ca4728b::before {
  --border-transition: 0.3s;
}
.elementor-38 .elementor-element.elementor-element-15e39d7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --background-transition: 0.3s;
}
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl
  .elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-38 .elementor-element.elementor-element-2f503fa {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-item
  > a {
  font-family: "Jost", Sans-serif;
  font-weight: 400;
}
.elementor-38
  .elementor-element.elementor-element-2f503fa
  .elementor-icon-list-text {
  transition: color 0.3s;
}
.elementor-38 .elementor-element.elementor-element-cd32f8d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
}
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(25px / 2);
}
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(25px / 2);
}
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(25px / 2);
  margin-left: calc(25px / 2);
}
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-25px / 2);
  margin-left: calc(-25px / 2);
}
body.rtl
  .elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-25px / 2);
}
body:not(.rtl)
  .elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-25px / 2);
}
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-38 .elementor-element.elementor-element-43eb1b0 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-item
  > a {
  font-family: "Jost", Sans-serif;
  font-weight: 400;
}
.elementor-38
  .elementor-element.elementor-element-43eb1b0
  .elementor-icon-list-text {
  transition: color 0.3s;
}
.elementor-38 .elementor-element.elementor-element-ae4026f {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-38 .elementor-element.elementor-element-dd45c7d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --background-transition: 0.3s;
  border-style: none;
  --border-style: none;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-38 .elementor-element.elementor-element-dd45c7d,
.elementor-38 .elementor-element.elementor-element-dd45c7d::before {
  --border-transition: 0.3s;
}
.elementor-38
  .elementor-element.elementor-element-5146c66
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-38
  .elementor-element.elementor-element-5146c66
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-38 .elementor-element.elementor-element-074c02b {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --background-transition: 0.3s;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 1px 0px 1px;
  --border-top-width: 0px;
  --border-right-width: 1px;
  --border-bottom-width: 0px;
  --border-left-width: 1px;
  border-color: #c9a58170;
  --border-color: #c9a58170;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 60px;
  --padding-right: 60px;
}
.elementor-38 .elementor-element.elementor-element-074c02b,
.elementor-38 .elementor-element.elementor-element-074c02b::before {
  --border-transition: 0.3s;
}
.elementor-38 .elementor-element.elementor-element-dd425b9 img {
  width: 150px;
}
.elementor-38 .elementor-element.elementor-element-18cc828 {
  --display: flex;
  --flex-direction: row-reverse;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap-reverse;
  --justify-content: flex-start;
  --align-items: center;
  --background-transition: 0.3s;
  border-style: none;
  --border-style: none;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-38 .elementor-element.elementor-element-18cc828,
.elementor-38 .elementor-element.elementor-element-18cc828::before {
  --border-transition: 0.3s;
}
.elementor-38 .elementor-element.elementor-element-5d5bcae {
  width: auto;
  max-width: auto;
}
.elementor-38
  .elementor-element.elementor-element-5d5bcae
  > .elementor-widget-container {
  margin: -5px 0px 0px 10px;
  padding: 0px 0px 0px 0px;
  border-style: none;
}
.elementor-38 .elementor-element.elementor-element-5d5bcae img {
  width: 18px;
}
.elementor-38
  .elementor-element.elementor-element-55642ba
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-38 .elementor-element.elementor-element-55642ba {
  text-align: right;
}
.elementor-38
  .elementor-element.elementor-element-55642ba
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-38 .elementor-element.elementor-element-f885965 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-38 .elementor-element.elementor-element-585fe57 {
  --divider-border-style: solid;
  --divider-color: #c9a58170;
  --divider-border-width: 1px;
}
.elementor-38
  .elementor-element.elementor-element-585fe57
  .elementor-divider-separator {
  width: 100%;
}
.elementor-38 .elementor-element.elementor-element-585fe57 .elementor-divider {
  padding-block-start: 0px;
  padding-block-end: 0px;
}
@media (max-width: 1024px) {
  .elementor-38 .elementor-element.elementor-element-b697da3 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px / 2);
  }
  .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px / 2);
  }
  .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(20px / 2);
    margin-left: calc(20px / 2);
  }
  .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px / 2);
    margin-left: calc(-20px / 2);
  }
  body.rtl
    .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-20px / 2);
  }
  body:not(.rtl)
    .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-20px / 2);
  }
  .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-item
    > a {
    font-size: 15px;
  }
  .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px / 2);
  }
  .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px / 2);
  }
  .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(20px / 2);
    margin-left: calc(20px / 2);
  }
  .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px / 2);
    margin-left: calc(-20px / 2);
  }
  body.rtl
    .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-20px / 2);
  }
  body:not(.rtl)
    .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-20px / 2);
  }
  .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-item
    > a {
    font-size: 15px;
  }
  .elementor-38 .elementor-element.elementor-element-ae4026f {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-38 .elementor-element.elementor-element-dd45c7d {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-38 .elementor-element.elementor-element-074c02b {
    --margin-top: 10px;
    --margin-bottom: 10px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-38 .elementor-element.elementor-element-dd425b9 img {
    width: 140px;
  }
  .elementor-38 .elementor-element.elementor-element-18cc828 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-38
    .elementor-element.elementor-element-5d5bcae
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-38 .elementor-element.elementor-element-5d5bcae img {
    width: 20px;
  }
  .elementor-38 .elementor-element.elementor-element-f885965 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-38 .elementor-element.elementor-element-b697da3 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-38
    .elementor-element.elementor-element-2f503fa
    .elementor-icon-list-item
    > a {
    font-size: 15px;
  }
  .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-38
    .elementor-element.elementor-element-43eb1b0
    .elementor-icon-list-item
    > a {
    font-size: 15px;
  }
  .elementor-38 .elementor-element.elementor-element-ae4026f {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-38 .elementor-element.elementor-element-dd45c7d {
    --padding-top: 0px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-38 .elementor-element.elementor-element-5146c66 {
    text-align: center;
  }
  .elementor-38 .elementor-element.elementor-element-074c02b {
    --width: 50%;
    border-width: 0px 0px 0px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-38 .elementor-element.elementor-element-dd425b9 {
    text-align: left;
  }
  .elementor-38 .elementor-element.elementor-element-dd425b9 img {
    width: 130px;
  }
  .elementor-38 .elementor-element.elementor-element-18cc828 {
    --width: 50%;
    --flex-direction: row-reverse;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap-reverse;
    --justify-content: flex-start;
    --padding-top: 20px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-38
    .elementor-element.elementor-element-5d5bcae
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-38 .elementor-element.elementor-element-5d5bcae img {
    width: 20px;
  }
  .elementor-38 .elementor-element.elementor-element-55642ba {
    text-align: center;
  }
  .elementor-38 .elementor-element.elementor-element-f885965 {
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .elementor-38 .elementor-element.elementor-element-15e39d7 {
    --width: 50%;
  }
  .elementor-38 .elementor-element.elementor-element-cd32f8d {
    --width: 50%;
  }
  .elementor-38 .elementor-element.elementor-element-dd45c7d {
    --width: 15%;
  }
  .elementor-38 .elementor-element.elementor-element-074c02b {
    --width: 70%;
  }
  .elementor-38 .elementor-element.elementor-element-18cc828 {
    --width: 15%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-38 .elementor-element.elementor-element-dd45c7d {
    --width: 25%;
  }
  .elementor-38 .elementor-element.elementor-element-074c02b {
    --width: 50%;
  }
  .elementor-38 .elementor-element.elementor-element-18cc828 {
    --width: 25%;
  }
}
