.elementor-343 .elementor-element.elementor-element-9d6e4e3 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 60px;
  --padding-bottom: 60px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-343 .elementor-element.elementor-element-e2d4089 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-343 .elementor-element.elementor-element-d863336 {
  --display: flex;
  --min-height: 400px;
  --background-transition: 0.3s;
  --border-radius: 500px 500px 0px 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-343
  .elementor-element.elementor-element-d863336:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-343
  .elementor-element.elementor-element-d863336
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background: url("../custom/1.jpeg")
    50% 50%;
  background-size: cover;
}
.elementor-343 .elementor-element.elementor-element-d863336,
.elementor-343 .elementor-element.elementor-element-d863336::before {
  --border-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-d2ff717 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 10px;
  --padding-right: 10px;
}
.elementor-343
  .elementor-element.elementor-element-afcb4c2
  > .elementor-widget-container {
  padding: 0px 20px 0px 20px;
}
.elementor-343 .elementor-element.elementor-element-afcb4c2 {
  z-index: 2;
}
.elementor-343 .elementor-element.elementor-element-afcb4c2 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  border-radius: 250px 250px 0px 0px;
}
.elementor-343 .elementor-element.elementor-element-5036e00 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-343 .elementor-element.elementor-element-76f196d {
  z-index: 2;
}
.elementor-343 .elementor-element.elementor-element-76f196d img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  border-radius: 250px 250px 0px 0px;
}
.elementor-343 .elementor-element.elementor-element-31110b1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-343 .elementor-element.elementor-element-6a1f8f1 {
  z-index: 2;
}
.elementor-343 .elementor-element.elementor-element-6a1f8f1 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center center;
  border-radius: 250px 250px 0px 0px;
}
.elementor-343 .elementor-element.elementor-element-c0870ee {
  --display: flex;
  --justify-content: center;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --background-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-589208f {
  width: var(--container-widget-width, 50%);
  max-width: 50%;
  --container-widget-width: 50%;
  --container-widget-flex-grow: 0;
  text-align: center;
}
.elementor-343
  .elementor-element.elementor-element-589208f
  .elementor-heading-title {
  color: #c9a581;
  font-family: "Forum", Sans-serif;
  font-size: 90px;
}
.elementor-343
  .elementor-element.elementor-element-db09d36
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-343
  .elementor-element.elementor-element-db09d36
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.elementor-343 .elementor-element.elementor-element-d032431 {
  --display: flex;
  --min-height: 550px;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-top: 140px;
  --margin-bottom: 100px;
  --margin-left: 0px;
  --margin-right: 0px;
}
.elementor-343
  .elementor-element.elementor-element-d032431:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-343
  .elementor-element.elementor-element-d032431
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #070e22;
}
.elementor-343 .elementor-element.elementor-element-d032431,
.elementor-343 .elementor-element.elementor-element-d032431::before {
  --border-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-55d8a80 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
body:not(.rtl) .elementor-343 .elementor-element.elementor-element-e2997ff {
  left: 0px;
}
body.rtl .elementor-343 .elementor-element.elementor-element-e2997ff {
  right: 0px;
}
.elementor-343 .elementor-element.elementor-element-e2997ff {
  top: -70px;
}
.elementor-343 .elementor-element.elementor-element-e2997ff img {
  border-radius: 250px 0px 250px 0px;
}
.elementor-343 .elementor-element.elementor-element-9c67183 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 80px;
  --padding-bottom: 80px;
  --padding-left: 80px;
  --padding-right: 0px;
}
.elementor-343 .elementor-element.elementor-element-9fb5e1e {
  width: var(--container-widget-width, 40%);
  max-width: 40%;
  --container-widget-width: 40%;
  --container-widget-flex-grow: 0;
  text-align: left;
}
.elementor-343
  .elementor-element.elementor-element-9fb5e1e
  .elementor-heading-title {
  color: #c9a581;
  font-family: "Forum", Sans-serif;
  font-size: 70px;
  line-height: 1.1em;
}
.elementor-343
  .elementor-element.elementor-element-43b8165
  > .elementor-widget-container {
  --e-transform-rotateZ: -22deg;
}
body:not(.rtl) .elementor-343 .elementor-element.elementor-element-43b8165 {
  right: 145px;
}
body.rtl .elementor-343 .elementor-element.elementor-element-43b8165 {
  left: 145px;
}
.elementor-343 .elementor-element.elementor-element-43b8165 {
  top: -41px;
}
.elementor-343
  .elementor-element.elementor-element-43b8165
  .elementor-heading-title {
  color: #c9a581;
  font-family: "rightman_signatureregular", Sans-serif;
  font-size: 100px;
}
.elementor-343 .elementor-element.elementor-element-d4e73a2 {
  width: var(--container-widget-width, 70%);
  max-width: 70%;
  --container-widget-width: 70%;
  --container-widget-flex-grow: 0;
  z-index: 2;
}
.elementor-343
  .elementor-element.elementor-element-d4e73a2
  > .elementor-widget-container {
  margin: 20px 20px 40px 0px;
}
body:not(.rtl) .elementor-343 .elementor-element.elementor-element-b48b4fc {
  right: 0px;
}
body.rtl .elementor-343 .elementor-element.elementor-element-b48b4fc {
  left: 0px;
}
.elementor-343 .elementor-element.elementor-element-b48b4fc {
  top: 445px;
  z-index: 2;
}
.elementor-343 .elementor-element.elementor-element-b48b4fc img {
  width: 200px;
  border-radius: 0px 100px 0px 100px;
}
.elementor-343 .elementor-element.elementor-element-55cbe19 {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 100px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-343
  .elementor-element.elementor-element-60f9239
  > .elementor-widget-container {
  padding: 0px 0px 40px 0px;
}
.elementor-343 .elementor-element.elementor-element-60f9239 {
  text-align: center;
}
.elementor-343
  .elementor-element.elementor-element-60f9239
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-343 .elementor-element.elementor-element-6401b6a {
  --divider-border-style: solid;
  --divider-color: #c9a58170;
  --divider-border-width: 1px;
}
.elementor-343
  .elementor-element.elementor-element-6401b6a
  .elementor-divider-separator {
  width: 100%;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-item:not(:last-child):after {
  content: "";
  border-color: #c9a58170;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child):after {
  border-top-style: solid;
  border-top-width: 1px;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-style: solid;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-width: 1px;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-343 .elementor-element.elementor-element-6c85e6d {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-item
  > a {
  font-family: "Forum", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-text {
  color: #cecece;
  transition: color 0.3s;
}
.elementor-343
  .elementor-element.elementor-element-6c85e6d
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: #ffffff;
}
.elementor-343
  .elementor-element.elementor-element-d29e7db
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-343 .elementor-element.elementor-element-d29e7db .elementor-button {
  font-family: "Jost", Sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1.5em;
  letter-spacing: 2px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #02010100;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c9a581;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 30px 13px 30px;
}
body:not(.rtl) .elementor-343 .elementor-element.elementor-element-f4ad449 {
  left: 279px;
}
body.rtl .elementor-343 .elementor-element.elementor-element-f4ad449 {
  right: 279px;
}
.elementor-343 .elementor-element.elementor-element-f4ad449 {
  top: 62px;
  z-index: 2;
}
.elementor-343 .elementor-element.elementor-element-f4ad449 img {
  width: 130px;
  border-radius: 100px 100px 100px 100px;
}
body:not(.rtl) .elementor-343 .elementor-element.elementor-element-7ad4eab {
  right: 196px;
}
body.rtl .elementor-343 .elementor-element.elementor-element-7ad4eab {
  left: 196px;
}
.elementor-343 .elementor-element.elementor-element-7ad4eab {
  top: 217px;
  z-index: 2;
}
.elementor-343 .elementor-element.elementor-element-7ad4eab img {
  width: 130px;
  border-radius: 100px 0px 100px 0px;
}
body:not(.rtl) .elementor-343 .elementor-element.elementor-element-4494779 {
  left: 134px;
}
body.rtl .elementor-343 .elementor-element.elementor-element-4494779 {
  right: 134px;
}
.elementor-343 .elementor-element.elementor-element-4494779 {
  top: 362px;
  z-index: 2;
}
.elementor-343 .elementor-element.elementor-element-4494779 img {
  width: 161px;
  border-radius: 100px 0px 100px 0px;
}
.elementor-343 .elementor-element.elementor-element-84ba1fc {
  --display: flex;
  --background-transition: 0.3s;
  --padding-top: 80px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-343
  .elementor-element.elementor-element-84ba1fc:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-343
  .elementor-element.elementor-element-84ba1fc
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #070e22;
}
.elementor-343 .elementor-element.elementor-element-84ba1fc,
.elementor-343 .elementor-element.elementor-element-84ba1fc::before {
  --border-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-a3c3e64 {
  text-align: center;
}
.elementor-343
  .elementor-element.elementor-element-a3c3e64
  .elementor-heading-title {
  color: #c9a581;
  font-family: "Forum", Sans-serif;
  font-size: 80px;
}
.elementor-343
  .elementor-element.elementor-element-d230060
  > .elementor-widget-container {
  margin: 20px 0px 60px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-343 .elementor-element.elementor-element-d230060 {
  text-align: center;
}
.elementor-343
  .elementor-element.elementor-element-d230060
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.elementor-343
  .elementor-element.elementor-element-b1ca441
  .horizontal-gallery-wrapper
  .horizontal-gallery-cell
  img {
  border-radius: 250px 250px 0px 0px;
}
.elementor-343
  .elementor-element.elementor-element-b1ca441
  .horizontal-gallery-wrapper
  .flickity-viewport {
  padding: 0px 0px 0px 0px;
}
.elementor-343
  .elementor-element.elementor-element-b1ca441
  .horizontal-gallery-wrapper
  .flickity-prev-next-button.next {
  background: #ffffff;
}
.elementor-343
  .elementor-element.elementor-element-b1ca441
  .horizontal-gallery-wrapper
  .flickity-prev-next-button.previous {
  background: #ffffff;
}
.elementor-343
  .elementor-element.elementor-element-b1ca441
  .horizontal-gallery-wrapper
  .flickity-prev-next-button
  .arrow {
  fill: #222222;
}
.elementor-343
  .elementor-element.elementor-element-b1ca441
  .horizontal-gallery-wrapper
  .flickity-page-dots
  .dot {
  background: #222222;
}
.elementor-343 .elementor-element.elementor-element-d657547 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 100px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-343
  .elementor-element.elementor-element-d657547:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-343
  .elementor-element.elementor-element-d657547
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #070e22;
}
.elementor-343 .elementor-element.elementor-element-d657547,
.elementor-343 .elementor-element.elementor-element-d657547::before {
  --border-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-d0c00e1 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  border-style: none;
  --border-style: none;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 20px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-343 .elementor-element.elementor-element-d0c00e1,
.elementor-343 .elementor-element.elementor-element-d0c00e1::before {
  --border-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-55f4211 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-20794e2 {
  text-align: center;
}
.elementor-343
  .elementor-element.elementor-element-20794e2
  .elementor-heading-title {
  color: #c9a581;
  font-family: "Forum", Sans-serif;
  font-size: 80px;
}
.elementor-343
  .elementor-element.elementor-element-79725c8
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-343 .elementor-element.elementor-element-79725c8 {
  text-align: center;
}
.elementor-343
  .elementor-element.elementor-element-79725c8
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.elementor-343
  .elementor-element.elementor-element-5bd77db
  > .elementor-widget-container {
  margin: -20px 0px 0px 0px;
}
.elementor-343
  .elementor-element.elementor-element-5bd77db
  .testimonials-card-wrapper
  .owl-carousel
  .shadow-effect {
  background: #070e22;
  border-color: #e7e7e700;
  border-radius: 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}
.elementor-343
  .elementor-element.elementor-element-5bd77db
  .testimonials-card-wrapper
  .owl-carousel
  .shadow-effect
  .testimonial-name {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-343
  .elementor-element.elementor-element-5bd77db
  .testimonials-card-wrapper
  .owl-carousel
  .owl-item
  .item
  h2 {
  color: #c9a581;
  font-family: "Aguafina Script", Sans-serif;
  font-size: 32px;
}
.elementor-343
  .elementor-element.elementor-element-5bd77db
  .testimonials-card-wrapper
  .owl-carousel
  .shadow-effect
  .testimonial-info-desc {
  color: #cecece;
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  line-height: 1.8em;
}
.elementor-343
  .elementor-element.elementor-element-5bd77db
  .testimonials-card-wrapper
  .owl-carousel
  .owl-dots
  .owl-dot
  span {
  background: #0077ff;
}
.elementor-343
  .elementor-element.elementor-element-5bd77db
  .testimonials-card-wrapper
  .owl-carousel
  .owl-dots
  .owl-dot.active
  span {
  background: #0077ff;
}
.elementor-343 .elementor-element.elementor-element-8062c8c {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-6486f3c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
  --align-items: flex-end;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 20px;
  --padding-left: 0px;
  --padding-right: 30px;
}
.elementor-343
  .elementor-element.elementor-element-6486f3c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-343
  .elementor-element.elementor-element-6486f3c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../images/delicious-cooked-vegetables-dill-snow-michelin-s-2023-11-27-05-14-35-utc.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-343 .elementor-element.elementor-element-6486f3c,
.elementor-343 .elementor-element.elementor-element-6486f3c::before {
  --border-transition: 0.3s;
}
.elementor-343 .elementor-element.elementor-element-1eeb3df {
  width: auto;
  max-width: auto;
  z-index: 3;
}
.elementor-343 .elementor-element.elementor-element-1eeb3df img {
  width: 83px;
}
.elementor-343 .elementor-element.elementor-element-71ac481 {
  width: auto;
  max-width: auto;
  z-index: 3;
}
.elementor-343 .elementor-element.elementor-element-71ac481 img {
  width: 83px;
}
.elementor-343 .elementor-element.elementor-element-886753c {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --background-transition: 0.3s;
  --padding-top: 220px;
  --padding-bottom: 0px;
  --padding-left: 80px;
  --padding-right: 50px;
}
.elementor-343 .elementor-element.elementor-element-c1d6607 {
  text-align: left;
}
.elementor-343
  .elementor-element.elementor-element-c1d6607
  .elementor-heading-title {
  color: #c9a581;
  font-family: "Forum", Sans-serif;
  font-size: 80px;
  line-height: 0.9em;
}
.elementor-343 .elementor-element.elementor-element-4b51180 {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-343
  .elementor-element.elementor-element-4b51180
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-343
  .elementor-element.elementor-element-4b51180
  .grandrestaurant-contact-form-content-wrapper
  label {
  color: #ffffffb0;
  font-family: "Jost", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
.elementor-343
  .elementor-element.elementor-element-4b51180
  .grandrestaurant-contact-form-content-wrapper
  input,
.elementor-343
  .elementor-element.elementor-element-4b51180
  .grandrestaurant-contact-form-content-wrapper
  textarea,
.grandrestaurant-contact-form-content-wrapper select {
  background: #00000000;
  color: #ffffff;
  border-color: #ffffff73;
}
.elementor-343
  .elementor-element.elementor-element-4b51180
  .grandrestaurant-contact-form-content-wrapper
  input:focus,
.elementor-343
  .elementor-element.elementor-element-4b51180
  .grandrestaurant-contact-form-content-wrapper
  textarea:focus,
.grandrestaurant-contact-form-content-wrapper select:focus {
  border-color: #c9a581;
}
.elementor-343
  .elementor-element.elementor-element-4b51180
  .grandrestaurant-contact-form-content-wrapper
  form
  > p {
  margin-bottom: 10px;
}
.elementor-343
  .elementor-element.elementor-element-4b51180
  .grandrestaurant-contact-form-content-wrapper
  input[type="submit"] {
  background: #00000000;
  color: #ffffff;
  border-color: #c9a581;
  font-family: "Jost", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0px 0px 0px;
}
.elementor-343
  .elementor-element.elementor-element-4b51180
  .grandrestaurant-contact-form-content-wrapper
  input[type="submit"]:hover {
  background: #00000000;
  color: #ffffff;
  border-color: #c9a581;
}
.elementor-343
  .elementor-element.elementor-element-10105f3
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 60px 0px 20px 0px;
}
.elementor-343 .elementor-element.elementor-element-10105f3 {
  text-align: left;
}
.elementor-343
  .elementor-element.elementor-element-10105f3
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-343 .elementor-element.elementor-element-c8a1a92 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 19px;
  --grid-column-gap: 15px;
  --grid-row-gap: 0px;
}
.elementor-343
  .elementor-element.elementor-element-c8a1a92
  .elementor-widget-container {
  text-align: left;
}
.elementor-343
  .elementor-element.elementor-element-c8a1a92
  .elementor-social-icon {
  background-color: #02010100;
  --icon-padding: 10px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff52;
}
.elementor-343
  .elementor-element.elementor-element-c8a1a92
  .elementor-social-icon
  i {
  color: #ffffff;
}
.elementor-343
  .elementor-element.elementor-element-c8a1a92
  .elementor-social-icon
  svg {
  fill: #ffffff;
}
.elementor-343 .elementor-element.elementor-element-c8a1a92 .elementor-icon {
  border-radius: 500px 500px 500px 500px;
}
.elementor-343
  .elementor-element.elementor-element-a68a10f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 40px 0px 20px 0px;
}
.elementor-343 .elementor-element.elementor-element-a68a10f {
  text-align: left;
}
.elementor-343
  .elementor-element.elementor-element-a68a10f
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Jost", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.elementor-343 .elementor-element.elementor-element-73987c3 {
  width: 100%;
  max-width: 100%;
  text-align: left;
}
.elementor-343
  .elementor-element.elementor-element-73987c3
  .elementor-heading-title {
  color: #cecece;
  font-family: "Forum", Sans-serif;
  font-size: 50px;
}
.elementor-343 .elementor-element.elementor-element-4d02a53 {
  width: 100%;
  max-width: 100%;
  text-align: left;
}
.elementor-343
  .elementor-element.elementor-element-4d02a53
  .elementor-heading-title {
  color: #cecece;
  font-family: "Forum", Sans-serif;
  font-size: 50px;
}
@media (min-width: 768px) {
  .elementor-343 .elementor-element.elementor-element-e2d4089 {
    --width: 25%;
  }
  .elementor-343 .elementor-element.elementor-element-d2ff717 {
    --width: 25%;
  }
  .elementor-343 .elementor-element.elementor-element-5036e00 {
    --width: 25%;
  }
  .elementor-343 .elementor-element.elementor-element-31110b1 {
    --width: 25%;
  }
  .elementor-343 .elementor-element.elementor-element-55d8a80 {
    --width: 40%;
  }
  .elementor-343 .elementor-element.elementor-element-9c67183 {
    --width: 60%;
  }
  .elementor-343 .elementor-element.elementor-element-d0c00e1 {
    --width: 100%;
  }
  .elementor-343 .elementor-element.elementor-element-6486f3c {
    --width: 50%;
  }
  .elementor-343 .elementor-element.elementor-element-886753c {
    --width: 50%;
  }
}
@media (max-width: 1024px) {
  .elementor-343 .elementor-element.elementor-element-9d6e4e3 {
    --padding-top: 40px;
    --padding-bottom: 40px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-343 .elementor-element.elementor-element-e2d4089 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-343 .elementor-element.elementor-element-d863336 {
    --min-height: 250px;
  }
  .elementor-343 .elementor-element.elementor-element-d2ff717 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-343
    .elementor-element.elementor-element-afcb4c2
    > .elementor-widget-container {
    padding: 0px 10px 0px 10px;
  }
  .elementor-343 .elementor-element.elementor-element-afcb4c2 img {
    height: 250px;
  }
  .elementor-343 .elementor-element.elementor-element-5036e00 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-343 .elementor-element.elementor-element-76f196d img {
    height: 250px;
  }
  .elementor-343 .elementor-element.elementor-element-31110b1 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-343 .elementor-element.elementor-element-6a1f8f1 img {
    height: 250px;
  }
  .elementor-343 .elementor-element.elementor-element-589208f {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  .elementor-343
    .elementor-element.elementor-element-589208f
    .elementor-heading-title {
    font-size: 50px;
  }
  .elementor-343
    .elementor-element.elementor-element-db09d36
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-343 .elementor-element.elementor-element-d032431 {
    --min-height: 350px;
    --margin-top: 100px;
    --margin-bottom: 20px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-343
    .elementor-element.elementor-element-e2997ff
    > .elementor-widget-container {
    padding: 0px 0px 0px 30px;
  }
  .elementor-343 .elementor-element.elementor-element-e2997ff {
    top: -40px;
  }
  .elementor-343 .elementor-element.elementor-element-e2997ff img {
    border-radius: 150px 0px 150px 0px;
  }
  .elementor-343 .elementor-element.elementor-element-9c67183 {
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 60px;
    --padding-right: 60px;
  }
  .elementor-343 .elementor-element.elementor-element-9fb5e1e {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  .elementor-343
    .elementor-element.elementor-element-9fb5e1e
    .elementor-heading-title {
    font-size: 50px;
  }
  .elementor-343
    .elementor-element.elementor-element-43b8165
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
  }
  body:not(.rtl) .elementor-343 .elementor-element.elementor-element-43b8165 {
    right: 23px;
  }
  body.rtl .elementor-343 .elementor-element.elementor-element-43b8165 {
    left: 23px;
  }
  .elementor-343 .elementor-element.elementor-element-43b8165 {
    top: -42px;
  }
  .elementor-343
    .elementor-element.elementor-element-43b8165
    .elementor-heading-title {
    font-size: 56px;
  }
  .elementor-343
    .elementor-element.elementor-element-d4e73a2
    > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
  }
  .elementor-343 .elementor-element.elementor-element-d4e73a2 {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
  }
  body:not(.rtl) .elementor-343 .elementor-element.elementor-element-b48b4fc {
    right: 30px;
  }
  body.rtl .elementor-343 .elementor-element.elementor-element-b48b4fc {
    left: 30px;
  }
  .elementor-343 .elementor-element.elementor-element-b48b4fc {
    top: 352px;
  }
  .elementor-343 .elementor-element.elementor-element-b48b4fc img {
    width: 125px;
    border-radius: 0px 50px 0px 50px;
  }
  .elementor-343 .elementor-element.elementor-element-55cbe19 {
    --padding-top: 80px;
    --padding-bottom: 80px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(5px / 2);
  }
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(5px / 2);
  }
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(5px / 2);
    margin-left: calc(5px / 2);
  }
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-5px / 2);
    margin-left: calc(-5px / 2);
  }
  body.rtl
    .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-5px / 2);
  }
  body:not(.rtl)
    .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-5px / 2);
  }
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-item
    > a {
    font-size: 36px;
  }
  body:not(.rtl) .elementor-343 .elementor-element.elementor-element-f4ad449 {
    left: 62px;
  }
  body.rtl .elementor-343 .elementor-element.elementor-element-f4ad449 {
    right: 62px;
  }
  .elementor-343 .elementor-element.elementor-element-f4ad449 img {
    width: 89px;
  }
  body:not(.rtl) .elementor-343 .elementor-element.elementor-element-7ad4eab {
    right: 51px;
  }
  body.rtl .elementor-343 .elementor-element.elementor-element-7ad4eab {
    left: 51px;
  }
  .elementor-343 .elementor-element.elementor-element-7ad4eab {
    top: 176px;
  }
  .elementor-343 .elementor-element.elementor-element-7ad4eab img {
    width: 94px;
  }
  body:not(.rtl) .elementor-343 .elementor-element.elementor-element-4494779 {
    left: 51px;
  }
  body.rtl .elementor-343 .elementor-element.elementor-element-4494779 {
    right: 51px;
  }
  .elementor-343 .elementor-element.elementor-element-4494779 {
    top: 300px;
  }
  .elementor-343 .elementor-element.elementor-element-4494779 img {
    width: 125px;
  }
  .elementor-343 .elementor-element.elementor-element-84ba1fc {
    --padding-top: 60px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-343
    .elementor-element.elementor-element-a3c3e64
    .elementor-heading-title {
    font-size: 50px;
  }
  .elementor-343
    .elementor-element.elementor-element-d230060
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-343 .elementor-element.elementor-element-d657547 {
    --padding-top: 60px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-343 .elementor-element.elementor-element-d0c00e1 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-343
    .elementor-element.elementor-element-20794e2
    .elementor-heading-title {
    font-size: 50px;
  }
  .elementor-343
    .elementor-element.elementor-element-79725c8
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-343
    .elementor-element.elementor-element-5bd77db
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-343 .elementor-element.elementor-element-1eeb3df img {
    width: 70px;
  }
  .elementor-343 .elementor-element.elementor-element-71ac481 img {
    width: 70px;
  }
  .elementor-343 .elementor-element.elementor-element-886753c {
    --padding-top: 220px;
    --padding-bottom: 0px;
    --padding-left: 40px;
    --padding-right: 40px;
  }
  .elementor-343
    .elementor-element.elementor-element-c1d6607
    .elementor-heading-title {
    font-size: 50px;
  }
  .elementor-343 .elementor-element.elementor-element-c8a1a92 {
    --icon-size: 20px;
  }
  .elementor-343
    .elementor-element.elementor-element-73987c3
    .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-343
    .elementor-element.elementor-element-4d02a53
    .elementor-heading-title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .elementor-343 .elementor-element.elementor-element-9d6e4e3 {
    --padding-top: 40px;
    --padding-bottom: 0px;
    --padding-left: 10px;
    --padding-right: 0px;
  }
  .elementor-343 .elementor-element.elementor-element-e2d4089 {
    --width: 50%;
  }
  .elementor-343 .elementor-element.elementor-element-d863336 {
    --min-height: 200px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-343 .elementor-element.elementor-element-d2ff717 {
    --width: 50%;
  }
  .elementor-343 .elementor-element.elementor-element-afcb4c2 img {
    height: 200px;
  }
  .elementor-343 .elementor-element.elementor-element-5036e00 {
    --width: 50%;
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-343 .elementor-element.elementor-element-76f196d img {
    height: 200px;
  }
  .elementor-343 .elementor-element.elementor-element-31110b1 {
    --width: 50%;
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-343 .elementor-element.elementor-element-6a1f8f1 img {
    height: 200px;
  }
  .elementor-343 .elementor-element.elementor-element-c0870ee {
    --padding-top: 40px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-343 .elementor-element.elementor-element-589208f {
    --container-widget-width: 80%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 80%);
    max-width: 80%;
  }
  .elementor-343
    .elementor-element.elementor-element-589208f
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-343 .elementor-element.elementor-element-db09d36 {
    text-align: center;
  }
  .elementor-343 .elementor-element.elementor-element-d032431 {
    --margin-top: 60px;
    --margin-bottom: 60px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 60px;
    --padding-bottom: 40px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-343 .elementor-element.elementor-element-55d8a80 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 40px;
    --padding-right: 40px;
  }
  .elementor-343
    .elementor-element.elementor-element-e2997ff
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-343 .elementor-element.elementor-element-e2997ff {
    text-align: center;
  }
  .elementor-343 .elementor-element.elementor-element-9c67183 {
    --padding-top: 60px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-343 .elementor-element.elementor-element-9fb5e1e {
    text-align: center;
  }
  .elementor-343
    .elementor-element.elementor-element-9fb5e1e
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-343 .elementor-element.elementor-element-43b8165 {
    text-align: center;
  }
  .elementor-343
    .elementor-element.elementor-element-43b8165
    .elementor-heading-title {
    font-size: 41px;
  }
  .elementor-343 .elementor-element.elementor-element-d4e73a2 {
    text-align: center;
  }
  .elementor-343
    .elementor-element.elementor-element-b48b4fc
    > .elementor-widget-container {
    margin: 40px 0px 0px 0px;
  }
  .elementor-343 .elementor-element.elementor-element-b48b4fc img {
    width: 188px;
  }
  .elementor-343 .elementor-element.elementor-element-55cbe19 {
    --padding-top: 0px;
    --padding-bottom: 60px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-343 .elementor-element.elementor-element-60f9239 {
    text-align: center;
  }
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-343
    .elementor-element.elementor-element-6c85e6d
    .elementor-icon-list-item
    > a {
    font-size: 24px;
  }
  .elementor-343
    .elementor-element.elementor-element-d29e7db.elementor-element {
    --align-self: center;
  }
  .elementor-343
    .elementor-element.elementor-element-f4ad449
    > .elementor-widget-container {
    margin: 40px 0px 20px 0px;
  }
  .elementor-343 .elementor-element.elementor-element-f4ad449 img {
    width: 131px;
  }
  .elementor-343
    .elementor-element.elementor-element-7ad4eab
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-343 .elementor-element.elementor-element-7ad4eab img {
    width: 120px;
  }
  .elementor-343
    .elementor-element.elementor-element-4494779
    > .elementor-widget-container {
    margin: 20px 0px 0px 0px;
  }
  .elementor-343 .elementor-element.elementor-element-4494779 img {
    width: 188px;
  }
  .elementor-343
    .elementor-element.elementor-element-a3c3e64
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-343 .elementor-element.elementor-element-d230060 {
    text-align: center;
  }
  .elementor-343 .elementor-element.elementor-element-d657547 {
    --padding-top: 40px;
    --padding-bottom: 0px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-343 .elementor-element.elementor-element-d0c00e1 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-343 .elementor-element.elementor-element-55f4211 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-343
    .elementor-element.elementor-element-20794e2
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-343 .elementor-element.elementor-element-79725c8 {
    text-align: center;
  }
  .elementor-343 .elementor-element.elementor-element-6486f3c {
    --min-height: 500px;
  }
  .elementor-343 .elementor-element.elementor-element-886753c {
    --padding-top: 60px;
    --padding-bottom: 40px;
    --padding-left: 30px;
    --padding-right: 40px;
  }
  .elementor-343 .elementor-element.elementor-element-c1d6607 {
    text-align: center;
  }
  .elementor-343
    .elementor-element.elementor-element-c1d6607
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-343 .elementor-element.elementor-element-10105f3 {
    text-align: center;
  }
  .elementor-343
    .elementor-element.elementor-element-c8a1a92
    .elementor-widget-container {
    text-align: center;
  }
  .elementor-343 .elementor-element.elementor-element-a68a10f {
    text-align: center;
  }
  .elementor-343 .elementor-element.elementor-element-73987c3 {
    text-align: center;
  }
  .elementor-343
    .elementor-element.elementor-element-73987c3
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-343 .elementor-element.elementor-element-4d02a53 {
    text-align: center;
  }
  .elementor-343
    .elementor-element.elementor-element-4d02a53
    .elementor-heading-title {
    font-size: 40px;
  }
}
